<style>
  .card-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
</style>

<content>
  <h1>Profile</h1>
  <div class="card-container">
    <user-card
      name="John"
      gender="men"
      email="john@email.com"
      phone="123-456-7890"
    ></user-card>
    <br />
    <user-card
      name="Jane"
      gender="women"
      email="jane@email.com"
      phone="123-456-7890"
    ></user-card>
  </div>
</content>
